<style>
	.print-format {
		background-color: #fff;
		padding: 40px 60px 40px 80px;
		position: relative;
		box-sizing: border-box;
	}
	.print-format,
	.print-format td,
	.print-format th {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #333;
		font-size: 9pt;
	}

	#header-html table td {
		padding: 2px 5px !important;
	}
	.pay-to {
		display: inline-block;
		width: 80%;
		border-bottom: 1px dotted black;
	}

	/* General address/contact block styling */
	.address-block {
		line-height: 1.6;
		font-size: 9pt;
		color: #555;
	}

	.transaction-table {
		width: 100%;
		border-collapse: collapse;
		margin: 16px 0px;
	}

	.transaction-table th,
	.transaction-table td {
		padding: 2px 12px !important;
		border: 1px solid #eee;
		vertical-align: top !important;
		font-size: 10pt;
	}

	.transaction-table thead {
		background-color: #007883;
		font-weight: bold;
	}

	.transaction-table thead th {
		border-bottom: none;
		color: #fff;
	}
</style>
<div id="header-html">
	<table width="100%">
		<tr>
			<td>
				<h2 style="margin-top: 0px">
					{{doc.get_formatted("print_heading") or "PAYMENT VOUCHER"}}
				</h2>
			</td>
			<td align="right" width="20%" style="vertical-align: bottom !important">
				<b>Voucher #{{doc.get_formatted("name")}}</b>
			</td>
		</tr>
		<tr>
			<td>
				{{doc.get_formatted("custom_pay_recd_label")}} :
				<span class="pay-to"> {{doc.get_formatted("pay_to_recd_from")}} </span>
			</td>
			<td align="right">Date : {{doc.get_formatted("posting_date")}}</td>
		</tr>
	</table>
</div>

<main>
	<table class="transaction-table">
		<thead>
			<tr>
				<th style="text-align: center">DESCRIPTION</th>
				<th width="20%" colspan="2" style="text-align: center">AMOUNT</th>
			</tr>
		</thead>
		<tbody>
			<!-- prettier-ignore -->
			{% for d in doc.accounts %}
			{% if d.user_remark %}
			<tr>
				<td>{{d.get_formatted("user_remark")}}</td>
				<td width="8%">{{d.get_formatted("account_currency")}}</td>
				<td align="right">{{frappe.utils.fmt_money(d.amount)}}</td>
			</tr>
			<!-- prettier-ignore -->
			{% endif %}
			{% endfor %}
			{% for d in range(doc.empty_rows) %}
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			{% endfor %}
			<tr>
				<td><b>The Sum of </b>{{doc.get_formatted("total_debit_in_words")}}</td>
				<td colspan="2" align="right">{{doc.get_formatted("total_debit")}}</td>
			</tr>
		</tbody>
	</table>
	<table width="100%">
		<tr>
			<td>
				<b>Pay Via : </b>
				{{doc.get_formatted("mode_of_payment")}}
			</td>
			<td align="right">
				<b>Reference Date : </b>
				{{doc.get_formatted("cheque_date")}}
			</td>
		</tr>
		<tr>
			<td colspan="2">
				{% if doc.custom_print_reference_number %}
				<b>Reference No : </b>
				<!-- prettier-ignore -->
				{{doc.get_formatted("cheque_no")}}
				{% endif %}
			</td>
		</tr>
		{% if doc.user_remark %}
		<tr>
			<td colspan="2">
				<b>Remarks:</b>
				<p>{{doc.get_formatted("user_remark")}}</p>
			</td>
		</tr>
		{% endif %}
	</table>
</main>

<div id="footer-html">
	<table width="100%" style="margin-top: 2cm">
		<!-- <tr>
			<td></td>
			<td align="center" align="right" width="40%">{{doc.get_formatted("received_by")}}</td>
		</tr>
		<tr>
			<td></td>
			<td align="center" style="border-top: 1px solid black">
				<b>Received By</b>
			</td>
		</tr> -->
		<tr>
			<td colspan="2" align="center">
				<small>This is a system generated document, no signature required.</small>
			</td>
		</tr>
	</table>
</div>
