<style>
	.print-format {
		background-color: #fff;
		padding: 40px 60px 40px 80px;
		position: relative;
		box-sizing: border-box;
	}
	.print-format,
	.print-format td,
	.print-format th {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #333;
		font-size: 9pt;
	}

	#header-html table td {
		padding: 2px 5px !important;
	}
	.pay-to {
		display: inline-block;
		width: 80%;
		border-bottom: 1px dotted black;
	}

	/* General address/contact block styling */
	.address-block {
		line-height: 1.6;
		font-size: 9pt;
		color: #555;
	}

	.transaction-table {
		width: 100%;
		border-collapse: collapse;
		margin: 16px 0px;
	}

	.transaction-table th,
	.transaction-table td {
		padding: 2px 12px !important;
		border: 1px solid #eee;
		vertical-align: top !important;
		font-size: 10pt;
	}

	.transaction-table thead {
		background-color: #007883;
		font-weight: bold;
	}

	.transaction-table thead th {
		border-bottom: none;
		color: #fff;
	}
</style>
<div id="header-html">
	<table width="100%">
		<tr>
			<td>
				<h2 style="margin-top: 0px">
					{{doc.get_formatted("print_heading") or "PAYMENT VOUCHER"}}
				</h2>
			</td>
			<td align="right" width="20%" style="vertical-align: bottom !important">
				<b>Voucher #{{doc.get_formatted("name")}}</b>
			</td>
		</tr>
		<tr>
			<td>
				Pay To :
				<span class="pay-to"> {{doc.get_formatted("party_name")}} </span>
			</td>
			<td align="right">Date : {{doc.get_formatted("posting_date")}}</td>
		</tr>
	</table>
</div>

<main>
	<table class="transaction-table">
		<thead>
			<tr>
				<th style="text-align: center">DESCRIPTION</th>
				<th width="20%" style="text-align: center">AMOUNT</th>
			</tr>
		</thead>
		<tbody>
			{% for d in doc.references %}
			<tr>
				<td>{{d.get_formatted("reference_name")}}</td>
				<td align="right">{{frappe.utils.fmt_money(d.allocated_amount)}}</td>
			</tr>
			{% endfor %} {% for d in range(7 - doc.references | len) %}
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			{% endfor %}
			<tr>
				<td><b>The Sum of </b>{{doc.get_formatted("base_in_words")}}</td>
				<td align="right">{{doc.get_formatted("total_allocated_amount")}}</td>
			</tr>
		</tbody>
	</table>
	<table width="100%">
		<tr>
			<td colspan="2">
				<b>Pay Via : </b>
				{{doc.get_formatted("mode_of_payment")}}
			</td>
		</tr>
		<tr>
			<td>
				<b>Reference No : </b>
				{{doc.get_formatted("reference_no")}}
			</td>
			<td align="right">
				<b>Reference Date : </b>
				{{doc.get_formatted("reference_date")}}
			</td>
		</tr>
	</table>
</main>

<div id="footer-html">
	<table width="100%" style="margin-top: 2cm">
		<tr>
			<td></td>
			<td align="center" align="right" width="40%">{{doc.get_formatted("received_by")}}</td>
		</tr>
		<tr>
			<td></td>
			<td align="center" style="border-top: 1px solid black">
				<b>Received By</b>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<small>This is a system generated document, no signature required.</small>
			</td>
		</tr>
	</table>
</div>
